:root {
    --primary-color: #524A4E; /* Default primary color */
    --background-color: #CED3CA; /* Default background color */
    --hover-color: #E6D3D9; /* Default hover color */
    --text-color: #333333; /* Default text color */
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Default box shadow */
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    color: var(--text-color) !important; /* Applying text color variable */
}

html,
body {
    height: 100%;
    width: 100%;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.main {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.left {
    height: 100vh;
    width: 80vw;
}

.display_container {
    height: 35vh;
    width: 100%;
    font-weight: 500;
    border-radius: 15px;
    border: 5px solid var(--primary-color);
    background: linear-gradient(190deg, rgba(204, 211, 202, 1) 0%, rgba(245, 232, 221, 1) 99%);
}

.small_display {
    height: 13vh;
    font-size: 1.5rem;
}

.big_display {
    height: 22vh;
    font-size: 5rem;
}

.big_display,
.small_display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.btn,
.buttons {
    height: 8.1vh;
    width: 15vw;
    font-size: 1.2rem;
    font-weight: 900;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
}

.btn_container {
    height: 65vh;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 17px;
    background: linear-gradient(80deg, rgba(204, 211, 202, 1) 0%, rgba(245, 232, 221, 1) 62%, rgba(238, 211, 217, 1) 77%);
    opacity: 0.8;
}

.btn:hover,
.buttons:hover {
    background: var(--hover-color);
}

.btn_color {
    background-color: rgb(238, 211, 217);
}

.right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 20vw;
}

.history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 10vh;
    color: #ffffff;
    background: rgb(204, 211, 202);
    background: -webkit-gradient(linear, left top, right top, from(rgba(204, 211, 202, 1)), color-stop(50%, rgba(245, 232, 221, 1)), to(rgba(238, 211, 217, 1)));
    background: -o-linear-gradient(left, rgba(204, 211, 202, 1) 0%, rgba(245, 232, 221, 1) 50%, rgba(238, 211, 217, 1) 100%);
    background: linear-gradient(90deg, rgba(204, 211, 202, 1) 0%, rgba(245, 232, 221, 1) 50%, rgba(238, 211, 217, 1) 100%);
}

.history_display {
    height: 90vh;
    background: rgb(204, 211, 202);
    background: -o-radial-gradient(circle, rgba(204, 211, 202, 1) 0%, rgba(245, 232, 221, 1) 100%);
    background: radial-gradient(circle, rgba(204, 211, 202, 1) 0%, rgba(245, 232, 221, 1) 100%);
}

.small_history_display {
    height: 3vh;
    margin: 0.5vh 0 0 0;
}

.big_history_display {
    height: 5vh;
}

.small_history_display,
.big_history_display {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.btn_delete {
    color: black;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 2%;
    font-size: 2rem;
}

@media (max-width: 860px) {
    .left {
        height: 100vh;
        width: 100vh;
    }

    .display_container {
        height: 30vh;
    }

    .small_display {
        height: 10vh;
        font-weight: bolder;
        font-size: 1.2rem;
    }

    .big_display {
        height: 20vh;
        font-size: 2.2rem;
    }

    .right {
        display: none;
    }

    .btn {
        font-size: 0.9rem;
        width: 18vw;
    }
}
